:host{
  float: right;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 10px 0 0 0;
  margin: 5px;
  text-align: center;
}
.todel{
  text-align: left;
  width: 200px;
  top: 0;
  position: absolute;
  left: 0;
  background-color:rgba(105, 105, 105,0.5);
}
