:host{
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 20px;
  margin: 5px;
  text-align: center;
}
//.todel{
//  top: 0;
//  position: absolute;
//  left: 0;
//  background: dimgray;
//}
.todelChild{
  position: sticky;
  top: 0;
  //padding: 10px;
  //opacity: 0.8;
  background: gray;
}
