<div class='container'>
  <div class='headerButtons' *ngIf='edit'>
    <app-add-ingredient></app-add-ingredient>
  </div>
  <div>
    <table>
      <tr>
        <th>Produkt</th>
        <th>ilość</th>
        <th>Miara</th>
        <th>kcal</th>
      </tr>
      <tr *ngIf='edit'>
        <td><input type=''>

        </td>
        <td>
          <input type='number'>
        </td>
        <td>
          <input list='measueres' name='measuere' id='measuere'>
        </td>
        <td>
          <button>Dodaj</button>
        </td>
      </tr>
      <tr *ngFor='let product of products'>
        <td>
<!--          {{((product.usedProductId | usedProductConnector: 'usedProductId') | async)}}-->
          {{((product.usedProductId | usedProductConnector: 'productId') | async) | productConnect | async}}
        </td>
        <td>
          {{(product.usedProductId | usedProductConnector: 'amount') | async}}
        </td>
        <td>
<!--          miara-->
          {{(product.usedProductId | usedProductConnector: 'measuresId') | async}}
        </td>
        <td>
<!--          kcal-->
          {{(product.usedProductId | usedProductConnector: 'measuresId') | async}}
        </td>
      </tr>
    </table>
  </div>
</div>

<datalist id='measueres'>
  <option *ngFor='let measure of (products$ | async)'>
    {{measure}}
</datalist>

{{products | json}}
