:host {
  display: flex;
  justify-content: center;
}

.container {
  border: gold 12px double;
  border-radius: 50px;
  background: dodgerblue;
  padding: 10px;
  text-align: center;
  color: white;
}

.headerButtons {
  text-align: center;
  padding: 8px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.mat-header-cell {
  padding: 10px;
}

.mat-cell {
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 700px;
  column-gap: 10px;
  row-gap: 10px;

  > div {
    margin-bottom: 10px;
    //background: rebeccapurple;
  }
}

.table2 {
  grid-template-columns: 1fr 1fr 1fr 1fr 35px;
}

.clickable {
  cursor: pointer;
  background: none;
  border: none;
}

.clickable:active {
  transform: scale(0.95);
  color: white;
}

.white-icon {
  color: white;
}

.grid-item {
  //background: rebeccapurple;
}

.listedOptions {
  width: 100%;
}

.colorizer {
  :nth-child(2n) {
    //background: red;
  }
}

.middle_button {
  height: 65px;
}

mat-label {
  color: white;
}

.errors {
  width: 100%;
  height: 50px;
}

.menu {
  border: none;
  background: none;
  cursor: pointer;
}
