:host {
  display: flex;
  justify-content: center;
}

.container {
  border: 1px lightgoldenrodyellow solid;
  background: wheat;
}

.headerButtons {
  text-align: center;
  padding: 8px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.mat-header-cell {
  padding: 10px;
}

.mat-cell {
  text-align: center;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 700px;
  column-gap: 10px;
  row-gap: 10px;

  > div {
    margin-bottom: 10px;
    //background: rebeccapurple;
  }
}

.grid-item {
  //background: rebeccapurple;
}

.listedOptions {
  width: 100%;
}

.colorizer {
  :nth-child(2n) {
    //background: red;
  }
}

.middle_button {
  height: 65px;
}
