<div class='container'>
  <div class='headerButtons' *ngIf='edit'>
    <app-add-ingredient></app-add-ingredient>
  </div>
  <div>
    <table>
      <tr>
        <th>Produkt</th>
        <th>ilość</th>
        <th>Miara</th>
        <th>kcal</th>
      </tr>
      <tr *ngIf='edit'>
        <td>
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Nazwa produktu</mat-label>
              <mat-select [(ngModel)]="selectedProduct" name="food">
                <mat-option *ngFor="let product of (products$ | async)" [value]="product.name">
                  {{product.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>        </td>
        <td>
          <input type='number'>
        </td>
        <td>

<!--          !!!!!!!!!!!!!!!!!-->
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Miara produktu</mat-label>
              <mat-select [(ngModel)]="selectedProduct" name="food">
                <mat-option *ngFor="let product of (products$) | async)" [value]="product.name">
                  {{((product.productId | productConnect).measures | productAllMeasures}}
                  {{product.measures}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <!--          !!!!!!!!!!!!!!!!!-->



        </td>
        <td>
          <button>Dodaj</button>
        </td>
      </tr>
      <tr *ngFor='let product of products'>
        <td>
          {{(((product.usedProductId | usedProductConnector) | async).productId | productConnect).name}}
        </td>
        <td>
          {{((product.usedProductId | usedProductConnector) | async).amount}}
        </td>
        <td>
          {{((((product.usedProductId | usedProductConnector) | async).measuresId) | measuresTranslator) | async}}
        </td>
        <td>
          {{((((product.usedProductId | usedProductConnector) | async).measuresId) | productMeasureConnector: ((product.usedProductId | usedProductConnector) | async).productId) | async | json}}
        </td>
      </tr>
    </table>
  </div>
</div>

<!--<datalist id='measueres'>-->
<!--  <option *ngFor='let measure of (products$ | async)'>-->
<!--    {{measure}}-->
<!--</datalist>-->

<datalist id='products'>
  <option *ngFor='let product of (products$ | async)'>
    {{product.name}}
</datalist>


<p> Selected food: {{selectedProduct}} </p>
