<div class='container'>
  <div class='headerButtons' *ngIf='edit'>
    <app-add-ingredient (addProduct)='addProduct($event)' (prodMeasureDeleted)='deleteProdMeasure($event)'></app-add-ingredient>
  </div>

    <span *ngIf='edit' [formGroup]='model' class='table'>
        <ng-container class='mat-typography' [formGroup]='model'>
          <mat-form-field appearance='outline' class='listedOptions'>
            <mat-label>Nazwa produktu</mat-label>
            <input matInput type='text' [matAutocomplete]='autoProduct' [matAutocompleteDisabled]='false'
                   formControlName='product' />
          </mat-form-field>
        </ng-container>
        <mat-form-field appearance='outline' class='listedOptions'>
          <mat-label>Ilość</mat-label>
          <input type='number' matInput formControlName='amount'>
        </mat-form-field>
        <mat-form-field appearance='outline' class='listedOptions'>
          <mat-label>Miara produktu</mat-label>
     <input matInput type='text' [matAutocomplete]='autoMeasure' [matAutocompleteDisabled]='false'
            formControlName='measure' />
        </mat-form-field>
      <!--        <mat-form-field>-->
      <!--      <input formControlName='measure'/>-->
      <!--        </mat-form-field>-->
            <button mat-button (click)='newUsedProduct()' [disabled]='model.invalid' class='middle_button' *ngIf='isMeasureDuplicated'>Dodaj (v)</button>
            <button mat-button  disabled class='middle_button' *ngIf='!isMeasureDuplicated'>Dodaj</button>
    </span>
  <div class='errors'>
<!--    <a *ngIf='model.invalid'>Niepoprawne dane</a>-->
  </div>
  <div>
    <div class='table'>
      <div class='grid-item'><h4>Produkt</h4></div>
      <div class='grid-item'><h4>ilość</h4></div>
      <div class='grid-item'><h4>Miara</h4></div>
      <div class='grid-item'><h4>kcal</h4></div>
    </div>
    <div class='colorizer'>
      <div class='table' *ngFor='let product of products'>
        <div class='grid-item'>
          {{(((product.usedProductId | usedProductConnector) | async).productId | productConnect | async).name}}
        </div>
        <div class='grid-item'>
          {{((product.usedProductId | usedProductConnector) | async).amount}}
        </div>
        <div class='grid-item'>
          {{((((product.usedProductId | usedProductConnector) | async).measuresId) | measuresTranslator) | async}}
        </div>
        <div class='grid-item'>
          {{(((((product.usedProductId | usedProductConnector) | async).measuresId)
          | productMeasureConnector: ((product.usedProductId | usedProductConnector)
          | async).productId) | async) |multiplication: (((product.usedProductId
          | usedProductConnector) | async).amount)}}
        </div>
      </div>
    </div>
  </div>
</div>

<mat-autocomplete #autoProduct='matAutocomplete'>
  <mat-option *ngFor='let product of autoProducts$ | async' [value]='product.name'>
    {{product.name}}
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #autoMeasure='matAutocomplete'>
  <mat-option *ngFor='let measure of autoMeasure$ | async' [value]='measure.name'>
    {{measure.name}}
  </mat-option>
</mat-autocomplete>
