.example-chip-list {
  min-width: 100%;
  justify-content: center;
  position: relative;
  float: left;
  max-width: 100%;
}
mat-chip-list {
  display: block;
  position: relative;
  float: left;
  flex: auto;
  width: 500px;
}
