<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>{{entity}}</mat-label>
  <mat-chip-list #chipList aria-label="Element selection">
    <mat-chip
      *ngFor="let element of elements"
      selected
      [color]="chipColor"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="removed($event)">
      {{element}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input *ngIf="removable"
           maxlength="32"
      placeholder="Nowy {{entity}}..."
      #elementInput
      [formControl]="elementCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="added($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
<!--    <mat-option *ngFor="let element of filteredElements$ | async" [value]="element">-->
    <mat-option *ngFor="let element of allElements" [value]="element">
        {{element}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

