<div class="container">
  <div class="banner" *ngIf="ended===1">{{note}}</div>
  <div class="buttonDiv">
    <button (click)="smaller()" class="button">-</button>
    <button (click)="build()" class="button">Reset</button>
    <button (click)="bigger()" class="button">+</button>
  </div>
  <div class="notify">
    Symobls in a row to win:    {{winStreak}}
    <br><br>
    {{note}}
  </div>
  <div class="flat">
    <div class="board" [ngStyle]="{'grid-template-columns': newsdas}">
      <div class="tile" *ngFor='let tile of tiles; index as i' (click)="onClick(i)">
        <div [ngStyle]="{'font-size.px': 300/size}">{{tiles[i].sign}}</div>
      </div>
    </div>
  </div>
</div>
