<div class="seenWindow">
  <div class="header">
    <!--    <div class='subHeader'>-->
    <!--      <app-chips [entity]="'Tagi Filtrów'" [removable]="false"></app-chips>-->
    <!--    </div>-->
    <div class='subHeader'>
      <app-sorter></app-sorter>
    </div>
  </div>
  <div class="add" [routerLink]="'/recipe/new'" routerLinkActive="active" [state]="{ edit: true}">
    <h1>
      Dodaj przepis
    </h1>
  </div>
  <div class="list">
    <mat-divider></mat-divider>
    <div class="record" *ngFor='let dish of dishesList$ | async' [routerLink]="['/recipe', dish.dishId]"
         routerLinkActive='active' [state]='{ edit: false, name: dish.name, tags: dish.tags, steps: dish.steps, products: dish.products }'>
      <h1>{{dish.name}}</h1>
      <div>
        <app-chips
          [removable]="false"
          [elements]="dish.tags"
          [entity]="'Tag'"
        ></app-chips>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
<!--         routerLinkActive='active' [state]='{ edit: false }'>-->
