<div class="header">
  <div>
    <div class="hash">Tu będą hasze</div>
    <div class="hash">#hasz1</div>
    <div class="hash">#hasz2</div>
    <div class="hash">#hasz3</div>
  </div>
  <div>
  <app-sorter></app-sorter>
  </div>
</div>
<div class="list">
  <div class="add">
    <h1>
      Dodaj przepis
    </h1>
  </div>
  <mat-divider></mat-divider>
  <div class="record">
    <h1>Naleśniki ze szpinakiem</h1>
    <div>
      <div class="hash">1 porjca</div>
      <div class="hash">truudne</div>
      <div class="hash">szybciutkie</div>
      <div class="hash">500kcal / porcje</div>
      <div class="hash">Alergeny?</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="record">
    <h1>Zupa Krem</h1>
    <div>
      <div class="hash">1 porjca</div>
      <div class="hash">truudne</div>
      <div class="hash">szybciutkie</div>
      <div class="hash">500kcal / porcje</div>
      <div class="hash">Alergeny?</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="record">
    <h1>Bułka z Serem</h1>
    <div>
      <div class="hash">1 porjca</div>
      <div class="hash">truudne</div>
      <div class="hash">szybciutkie</div>
      <div class="hash">500kcal / porcje</div>
      <div class="hash">Alergeny?</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="record">
    <h1>Bułka bez Sera</h1>
    <div>
      <div class="hash">1 porjca</div>
      <div class="hash">truudne</div>
      <div class="hash">szybciutkie</div>
      <div class="hash">500kcal / porcje</div>
      <div class="hash">Alergeny?</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="record">
    <h1>Babcine ciasteczka</h1>
    <div>
      <div class="hash">1 porjca</div>
      <div class="hash">truudne</div>
      <div class="hash">szybciutkie</div>
      <div class="hash">500kcal / porcje</div>
      <div class="hash">Alergeny?</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="record">
    <h1>Orzechówka</h1>
    <div>
      <div class="hash">1 porjca</div>
      <div class="hash">truudne</div>
      <div class="hash">szybciutkie</div>
      <div class="hash">500kcal / porcje</div>
      <div class="hash">Alergeny?</div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
