:host {
  width: 1000px;
  display: block;
  margin: auto;
  max-width: 70%;
  color: white;
}

.header {
  text-align: center;
  background: palegoldenrod;
  width: 100%;
  display: table;
}

.seenWindow {
  margin-top: 70px;
  overflow: auto;
  height: calc(100vh - 70px);
  width: 100%;
  background: lightgoldenrodyellow;
}

.list {
  width: 100%;
}

.record {
  display: flex;
  //border: gold 12px double;
  //border-radius: 50px;
  //background: dodgerblue;
  //padding: 10px 20px;
  //height: 75px;
  //position: relative;
}

.record:hover {
  //border: darkgoldenrod 12px double;
}
.background{
  background: palegoldenrod;
}

.hash {
  color: black;
  margin-right: 6px;
  padding: 6px;
  display: inline;
  background: orange;
  height: 10%;
  width: 10%;
  border: gray solid 1px;
  border-radius: 20px;
}

.hash:hover {
  background: darkorange;
}


.mat-divider {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: palegoldenrod;
}

.add {
  cursor: pointer;
  z-index: 5;
  border-radius: 0 0 50px 50px;
  position: sticky;
  top: 0;
  background: dodgerblue;
  border: gold double 12px;
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

.add:hover {
  border: darkgoldenrod double 12px;
}

.record:active, .add:active {
  transform: scale(0.98);
}

.recMenu:active, .recName:active, .add:active {
  //transform: scale(0.95);
}

.topRight {
  border: none;
  background: none;
  margin: auto;
  //top: 30%;
  position: absolute;
}

.menuIcon {
  font-size: 300%;
  cursor: pointer;
}

.nameItself {
  word-break: break-word;
}

.recMenu, .recName {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background: dodgerblue;
  border: gold 12px double;
  position: relative;
}

.recMenu {
  border-left: none;
  border-radius: 0 50px 50px 0;
  padding: 10px 20px 10px 32px;
  width: 5%;
}

.recMenu:hover {
  padding: 10px 20px 10px 20px;
  margin-left: 0;
}

.recName {
  border-right: none;
  border-radius: 50px 0 0 50px;
  padding: 10px 32px 10px 20px;
  width: 85%;
}

.recName:hover {
  z-index: 1;
  padding: 10px 20px 10px 20px;
}

.recMenu:hover, .recName:hover {
  border: darkgoldenrod 12px double;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.noRecords {
  width: 20%;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 40%;
}

//.list:empty{
//height: 10px;
//background: red;
//.noRecords{
//  display: block;
//}
//}
.list:empty + .noRecords {
  display: block;
}

