<div class='container'>
  <h2> Filtruj potrawy:</h2>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngIf='allFilterOptions'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wybór posiłku
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngFor="let dish of dishes$ | async">
        <mat-radio-button>{{dish.name}}</mat-radio-button>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          #Tagi
        </mat-panel-title>
      </mat-expansion-panel-header>
<!--      [elements] = "tags$ | async"-->
      <app-chips
        [allElements] = "tags$ | async"
        [elements]= "tags$ | async"
        [entity]="'Tag'"
        [removable]="true"
        (remove)="removeTag($event)"
        (add)="addTag($event)"
      ></app-chips>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Alergeny
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-chips
        [elements] = "allergens$ | async"
        [allElements] = "allergens$ | async"
        [entity]="'Alergen'"
        [removable]="true"
        (remove)="removeAllergen($event)"
        (add)="addAllergen($event)"
      ></app-chips>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Maksymalny czas przygotowania
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-time-slider [value]="3"  (timeLimit)="timeLimiting($event)"></app-time-slider>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Trudność przygotowania
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section>
        <p  *ngFor="let level of levels$ | async">
          <mat-checkbox checked="true">
            <a *ngFor='let i of counter(level.level)'><mat-icon>local_pizza</mat-icon></a>
          </mat-checkbox>
        </p>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
<!--<br/>  Filtr czasu: {{timeLimit}}-->
</div>
