<div class='container'>
  <h2> Filtruj potrawy:</h2>


  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wybór posiłku
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p><mat-radio-button>Śniadanie</mat-radio-button></p>
      <p><mat-radio-button>Obiad</mat-radio-button></p>
      <p><mat-radio-button>Kolacja</mat-radio-button></p>
      <p><mat-radio-button>Deser</mat-radio-button></p>
      <p><mat-radio-button>Inne</mat-radio-button></p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          #Hasze
        </mat-panel-title>
        <mat-panel-description>
          auto uzupe\lnianie
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Tu będzie opcja szukaniahaszy użytkowników</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Alergeny
        </mat-panel-title>
        <mat-panel-description>
          szukajka
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Tu będzie opcja wybrania alergenów</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Czas gotowania
        </mat-panel-title>
        <mat-panel-description>
          zasięg od do
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Trudność przygotowania
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section>
        <p>
          <mat-checkbox>
            <mat-icon> local_pizza</mat-icon>
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
            <mat-icon> local_pizza</mat-icon>
          </mat-checkbox>
        </p>
      </section>
    </mat-expansion-panel>
  </mat-accordion>


</div>

