:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Monaco, "Lucida Console", monospace;
}

.lista {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 15px;
  border-bottom: double burlywood;
  padding: 1%;
}

.lista:first-child {
  border-top: double brown 5px;
  background-color: rebeccapurple;
}

.lista:last-child {
  border: 0px;
}

.remed {
  color: black;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  margin-left: 15px;
}

.txtwrap {
  margin-bottom: 5%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 1%;
  max-width: calc(100% - 198.33px);
  cursor: pointer;
}

.txtwrapEnded {
  text-shadow: none;
  font-style: italic;
  text-decoration: line-through;
  margin-bottom: 5%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 50%;
  color: lightgray;
  max-width: calc(100% - 198.33px);
}

.container {
  border-radius: 50px;
  margin-top: 2%;
  text-align: center;
  padding: 10px;
  width: 40%;
  background-color: ghostwhite;
  border: ridge saddlebrown 5px;
}
.options {
  margin: 2px;
}
