.righter{
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  //justify-content: center;
}
.screen {
  margin: auto;
  background-color: yellow;
  //overflow: hidden;
}
.rescaled{
  //height: 500px;
}
