<div class='container'>
  <table class='rest'>
    <tr class='tile' *ngFor='let form of forms.controls; index as i' cdkDropList  (cdkDropListDropped)="drop($event)">
      <ng-container cdkDrag>
      <td>
        {{form.value.day}}
        <div (click)='remove(i)' class='delete'>
          <mat-icon>delete</mat-icon>
        </div>
      </td>
      <td>
        <app-third [meals]='_meals[i]' (dataSync)='dataBackup($event, i, true)'></app-third>
      </td>
      </ng-container>
    </tr>
    <tr>
      <div class='add' (click)='add()'>
        Dodaj dzień
      </div>
    </tr>
  </table>
</div>
