:host {
  position: relative;
  display: flex;
  padding: 20px;
  background-color: dodgerblue;
  width: Calc(100% - 64px);
  height: 100%;
  overflow: hidden;
  border: 12px double gold;
  border-radius: 50px;
  text-align: center;
}

.clickable {
  position: absolute;
  top: 20px;
  right: 20px;
  float: right;
  cursor: pointer;
}

.addButton {
  margin: auto;
  height: 65px;
  top: -5px;
}

.dialog-container-custom .mat-dialog-container {
  border-radius: 50px;
}

.margin {
  background: dodgerblue;
  color: white;
}

.margin:hover {
  background: dodgerblue;
  color: white;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: gold;
}

@media (min-width: 1100px) {
  .twoInputs {
    display: inline-block;
  }
}

@media (max-width: 1100px) {
  .twoInputs {
    width: 100%;
  }
}

@media (max-width: 400px) {
  :host{
    z-index: 22;
    background: gold;
  }
}
.gridTable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //width: 700px;
  column-gap: 10px;
  row-gap: 10px;

  > div {
    border: solid 1px red;
  }
}
