<h2 mat-dialog-title>Dodawanie Składnika</h2>
<mat-dialog-content class='mat-typography' [formGroup]='model'>
  Nazwa:
  <mat-form-field appearance='outline'>
    <mat-label>Szukaj</mat-label>
    <input matInput type='text' [matAutocomplete]='auto' [matAutocompleteDisabled]='false' formControlName='product' />
  </mat-form-field>
  Miara:
  <mat-form-field appearance='outline'>
    <mat-label>Szukaj</mat-label>
    <input matInput type='text' [matAutocomplete]='auto2' [matAutocompleteDisabled]='false' formControlName='measure' />
  </mat-form-field>
  Kcal:
  <mat-form-field appearance='outline'>
    <mat-label>Szukaj</mat-label>
    <input matInput type='number' [matAutocomplete]='auto' [matAutocompleteDisabled]='true '
           formControlName='kcal' />
  </mat-form-field>
<!--  Alergen:-->
<!--  <mat-form-field appearance='outline'>-->
<!--    <mat-label>Szukaj</mat-label>-->
<!--    <input matInput type='text' [matAutocomplete]='auto3' [matAutocompleteDisabled]='false' formControlName='allergens' />-->
<!--  </mat-form-field>-->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)='close.emit()'>Anuluj</button>
  <button mat-button (click)='newProduct()'>Dodaj</button>
</mat-dialog-actions>
<br />
<mat-dialog-content class='mat-typography'>
  <div *ngFor='let product of products$ | async'>
    {{product.name}} (
    <a *ngFor='let measure of product.measures'>
      {{ measure.measureId | measuresTranslator | async}}
    </a>)
    <br />
  </div>
</mat-dialog-content>

<mat-autocomplete #auto='matAutocomplete' (optionSelected)='optionSelected("product", $event.option.value)'>
  <mat-option *ngFor='let product of autoProducts$ | async' [value]='product.productId'>
    {{product.name}}
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #auto2='matAutocomplete' (optionSelected)='optionSelected("measure", $event.option.value)'>
  <mat-option *ngFor='let measure of autoMeasure$ | async' [value]='measure.measureId'>
    {{measure.name}}
  </mat-option>
</mat-autocomplete>

<!--<mat-autocomplete #auto3='matAutocomplete' (optionSelected)='optionSelected("product", $event.option.value)'>-->
<!--  <mat-option *ngFor='let allergen of allergens$ | async' [value]='allergen.hashId'>-->
<!--    {{allergen.name}}-->
<!--  </mat-option>-->
<!--</mat-autocomplete>-->

