<span class='material-icons clickable' (click)='close.emit()'>
close
</span><h2 mat-dialog-title>Dodawanie Składnika</h2>

<mat-dialog-content class='mat-typography' [formGroup]='model'>
  <mat-form-field appearance='outline'>
    <mat-label>Nazwa</mat-label>
    <input matInput type='text' [matAutocomplete]='autoProduct' [matAutocompleteDisabled]='false' formControlName='product' />
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>Miara</mat-label>
    <input matInput type='text' [matAutocomplete]='autoMeasure' [matAutocompleteDisabled]='false' formControlName='measure' />
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>Kcal</mat-label>
    <input matInput type='number' formControlName='kcal' />
  </mat-form-field>

  <button mat-button [matMenuTriggerFor]="allergenMenu">Alergeny</button>
  <mat-menu #allergenMenu="matMenu">
    <section>
<!--    <section formControlName='allergens'>-->
    <mat-option *ngFor='let allergen of allergens$ | async' [value]='allergen.hashId'>
      <mat-checkbox (change)='addAlergen(allergen.name)'>{{allergen.name}}</mat-checkbox>
    </mat-option>
    </section>
  </mat-menu>
<!--  <mat-form-field appearance='outline'>-->
<!--      <mat-label>Alergen</mat-label>-->
<!--      <input matInput type='text' [matAutocomplete]='allergens' [matAutocompleteDisabled]='false' formControlName='allergens' />-->
<!--      <mat-option *ngFor='let allergen of allergens$ | async' [value]='allergen.hashId'>-->
<!--        <mat-checkbox>{{allergen.name}} </mat-checkbox>-->
<!--      </mat-option>-->
<!--    </mat-form-field>-->
</mat-dialog-content>
<mat-dialog-actions>
  <button class='addButton' mat-button (click)='newProduct()' [disabled]='model.invalid'>Dodaj</button>
</mat-dialog-actions>
<br />
<mat-dialog-content class='mat-typography'>
  <div *ngFor='let product of products$ | async'>
    {{product.name}} (
    <a *ngFor='let measure of product.measures'>
      {{ measure.measureId | measuresTranslator | async}},
    </a>
    )
    <br />
  </div>
</mat-dialog-content>

<mat-autocomplete #autoProduct='matAutocomplete' (optionSelected)='optionSelected("product", $event.option.value)'>
  <mat-option *ngFor='let product of autoProducts$ | async' [value]='product.productId'>
    {{product.name}}
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #autoMeasure='matAutocomplete' (optionSelected)='optionSelected("measure", $event.option.value)'>
  <mat-option *ngFor='let measure of autoMeasure$ | async' [value]='measure.measureId'>
    {{measure.name}}
  </mat-option>
</mat-autocomplete>
