<div class='all'>
  <span class='material-icons clickable' (click)='closed.emit()'>
    close
  </span>
  <h2 mat-dialog-title>Dodawanie Składnika</h2>
  <ng-container class='mat-typography' [formGroup]='model'>
    <div class='twoInputs'>
      <mat-form-field appearance='outline'>
        <mat-label>Nazwa</mat-label>
        <input matInput type='text' [matAutocomplete]='autoProduct' [matAutocompleteDisabled]='false'
               formControlName='product' />
      </mat-form-field>
      <mat-form-field appearance='outline'>
        <mat-label>Miara</mat-label>
        <input matInput type='text' [matAutocomplete]='autoMeasure' [matAutocompleteDisabled]='false'
               formControlName='measure'/>
      </mat-form-field>
    </div>
    <div class='twoInputs'>
      <mat-form-field appearance='outline'>
        <mat-label>Kcal</mat-label>
        <input matInput type='number' formControlName='kcal' />
      </mat-form-field>
      <mat-form-field appearance='outline'>
        <mat-label>Alergie</mat-label>
        <mat-select formControlName='allergens' multiple>
          <mat-option *ngFor='let allergen of allergens$ | async' [value]='allergen.hashId' class='margin'>
            {{allergen.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container class='buttonDiv'>
    <button class='addButton' mat-button (click)='newProduct()' [disabled]='model.invalid' *ngIf='!isMeasureDuplicated'>Dodaj</button>
  </ng-container>
  <ng-container class='buttonDiv'>
    <button class='addButton' mat-button (click)='newProduct()' [disabled]='model.invalid' *ngIf='isMeasureDuplicated'>Edytuj</button>
  </ng-container>
  <br />
<!--  <div class='errors'>-->
<!--    <a *ngIf='model.invalid'>Niepoprawne dane</a>-->
<!--  </div>-->
  <div class='gridTable'>
    <div>Nazwa</div>
    <div>Alergeny</div>
    <div>Miary</div>
    <div></div>
  </div>

  <mat-dialog-content class='mat-typography'>
      <div class='gridTable tableBorder' *ngFor='let product of products$ | async'>
        <div class='centerV'>{{product.name}}</div>
        <div  class='centerV'>
          <a *ngFor='let allergen of product.allergens'>
<!--            1. {{allergen.allergenId | tagNameById: 'allergen' | async}}<br/>-->
            {{allergen | tagNameById: 'allergen' | async}}
          </a>
        </div>
        <div class='centerV'><a   class='allergenHeight' *ngFor='let measure of product.measures'>{{ measure.measureId | measuresTranslator | async}}
          ({{measure.kcal}} kcal) <br />
        </a></div>

        <div class='centerV'><button mat-button class='delButton' *ngFor='let measure of product.measures' (click)='deleteProdMeasure(measure.measureId, product.productId)'>Usuń<br/>
        </button></div>
    </div>
  </mat-dialog-content>

  <mat-autocomplete #autoProduct='matAutocomplete'>
    <mat-option *ngFor='let product of autoProducts$ | async' [value]='product.name'>
      {{product.name}}
    </mat-option>
  </mat-autocomplete>

  <mat-autocomplete #autoMeasure='matAutocomplete'>
    <mat-option *ngFor='let measure of autoMeasure$ | async' [value]='measure.name'>
      {{measure.name}}
    </mat-option>
  </mat-autocomplete>
</div>
