<div class='container'>
  <div class='center'>
    <div cdkDropList (cdkDropListDropped)='drop($event)'>
      <div *ngFor='let form of forms.controls; index as i'>
        <div [formGroup]='forms.controls[i]' cdkDrag class='inline' (click)='operating(i)'>
          <div (click)='remove(i)' class='delete'>
            <mat-icon>delete</mat-icon>
          </div>
          <div>
            <mat-form-field class='example-full-width' appearance='fill'>
              <mat-label>Nazwa listy</mat-label>
              <input matInput type='text' formControlName='dish' [matAutocomplete]='autoDishComplete'
                     [matAutocompleteDisabled]='false'
                     placeholder='np. zupa grzybowa'>
              <mat-hint>Wybierz danie z listy</mat-hint>
              <mat-error
                *ngIf='forms.controls[i].controls?.dish.touched && forms.controls[i].controls?.dish?.invalid'>
                Wybrane danie <strong>nie istnieje</strong>
              </mat-error>
<!--              <mat-error> Błędne dane</mat-error>-->
            </mat-form-field>
            <mat-icon cdkDragHandle>open_with</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <button (click)='addForm()'>Dodaj Danie</button>
  </div>
</div>
<mat-autocomplete #autoDishComplete='matAutocomplete' [displayWith]='displayFn.bind(this)'>
  <mat-optgroup [label]='"lista: "' *ngIf='finalCombine.length !== 0'>
    <mat-option *ngFor='let dish of finalCombine' [value]='dish.item.dishId'>
      {{dish.item.name}}
    </mat-option>
  </mat-optgroup>
  <mat-optgroup [label]="'Brak wyników:'" *ngIf='finalCombine.length === 0'>
    <mat-option (click)='searchChange()'>
      <mat-icon class='click'>search</mat-icon>
    </mat-option>
    <mat-option (click)='open()'>
      <mat-icon class='click'>add</mat-icon>
    </mat-option>
  </mat-optgroup>
</mat-autocomplete>


<!--TODO: kiedy się nic nie wpisze nie ma wyników, a powinny być wszystkie przepisy-->
<!--TODO: sumowanie kcal dish-->
