<div class='container'>
  <div>
    <table>
      <ng-container>
        <tr *ngFor='let form of forms.controls; index as i'>
          <td [formGroup]='forms.controls[i]'>
            <div (click)='remove(i)'>
              <mat-icon>delete</mat-icon>
            </div>
            <select formControlName="dish">
              <option [ngValue]="null" disabled>Wybierz danie</option>
              <option *ngFor="let dish of dishesList$ | async" [ngValue]="dish.dishId">{{dish.name}}</option>
            </select>
          </td>
        </tr>
      </ng-container>
    </table>
    <button (click)='addForm()'>Dodaj Danie</button>
  </div>
</div>
