<div class='container'>
  <div>
    <table>
      <ng-container>
        <tr *ngFor='let form of forms.controls; index as i'>
          <td [formGroup]='forms.controls[i]'>
            <input formControlName='meal' />
            <input formControlName='hour' />
          </td>
          <td>
            <app-fourth [dish]='_dishes[i]' (dataSync)='dataBackup($event, i)'></app-fourth>
          </td>
        </tr>
      </ng-container>
    </table>
    <button (click)='addForm()'>Dodaj posiłek</button>
  </div>
</div>

