:host {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
  color: #CE5937;
  font-size: xx-large;
}

.container {
  background-image: linear-gradient(315deg, #772f1a 14%, #3F250B 84%, #f2a65a 99%);
  height: 100vh;
  width: 50%;
  display: block;
  justify-content: center;
  overflow: hidden;
}

.boardEdge {
  color: white;
  height: 6%;
  width: 88%;
  margin: 0 6%;
  //letter-spacing: 80px;
  align-content: space-around;
  display: flex;

  > div {
    text-align: center;
    width: 12.5%;
    height: 100%;
    line-height: 175%;
  }
}

.boardSide {
  color: white;
  justify-content: space-around;
  display: block;
  float: left;
  height: 88%;
  width: 6%;
  //margin: -1px;
  //border: black inset 1px;
  > div {
    text-align: center;
    width: 100%;
    height: 12.5%;
    line-height: 350%;
  }
}

.board {
  :not(:nth-child(16n)) ~ *,
  :nth-child(14n) {
    background: black;
  }

  //:nth-child(7n) {
  //  background: white;
  //}
  z-index: 1;
  float: left;
  align-self: center;
  //justify-self: center;
  width: 88%;
  height: 88%;
  background: #CE5937;
  display: grid;
  grid-template-columns: repeat(8, 1fr [col-start]);
  grid-template-rows: repeat(8, 1fr [row-start]);
  column-gap: 1px;
  row-gap: 1px;
  //margin: -1px;
  //align-content: stretch;
  //justify-content: stretch;

  > div:active{
    z-index: 24;
    margin: -3px;
    border: dashed 3px violet;
  }
  > div {
    background: white;
    position: relative;
    //height: 0;
    width: 100%;
    padding-top: 100%;

    :first-child {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      align-self: center;
      justify-self: center;
    }
  }

  > div:hover {
    background: mediumpurple;
    color: hotpink;
    font-size: xxx-large;
  }

  .black {
    background: black;
    width: 100%;
    height: 100%;
  }

  .black:hover {
    background: radial-gradient(circle closest-side, black, red, black);
  }

  .white {
    background: white;
    width: 100%;
    height: 100%;
  }

  .white:hover {
    background: radial-gradient(circle closest-side, white, red, white);;
  }
}
