:host {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}
.container {
  height: min(100vw, 100vh);
  width: min(100vw, 100vh);
  background: brown;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  justify-items: stretch;
  justify-content: center;
}

.board {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: red;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  > div {
    width: min(100%, 100wv/10);
  }
}

.boardSide {
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 12.5%;
    width: 100%;
  }
}

.side {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.boardEdge {
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  float: left;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.down {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.images{
  display: flex;
  width: 100%;
}
.black{
  width: min(100%, 100wv/10);
  height: 100%;
  background: #444;
}
.white{
  height: 100%;
  background: wheat;
}

@media (max-height: 300px), (max-width: 300px) {
  .container{
    font-size: x-small;
  }
}

//  !important
