<div class='container'>
  <header class='boardEdge'>
    <div *ngFor='let letter of letters'>{{letter}}</div>
  </header>
  <aside class='boardSide'>
    <div *ngFor='let number of numbers' class='boardSide'>{{number}}</div>
  </aside>
  <div class='board'>
    <div *ngFor='let tile of tiles'>
      <div class='{{tile.color}} {{tile | aaa: selected}}' style='justify-content: center;'>
        <img *ngIf='tile.figure' class='images'
             src='../../../assets/chessFigures/{{tile.figure}}' />
      </div>
<!--      <div class='{{tile.color}}' style='justify-content: center;'-->
<!--           *ngIf='oldSelect !== i && tile.toMove === false'>-->
<!--        <img *ngIf='tile.figure !== "null"' class='images'-->
<!--             src='../../../assets/chessFigures/{{tile.figure}}' />-->
<!--      </div>-->
<!---->
<!--      <div class='{{tile.color}}' style='justify-content: center;' (click)='move(i)' *ngIf='tile.toMove === true'-->
<!--           style='border: double blue 5px; padding: -10px; z-index: 24'>-->
<!--        <img *ngIf='tile.figure !== "null"' class='images'-->
<!--             src='../../../assets/chessFigures/{{tile.figure}}' />-->
<!--      </div>-->
    </div>
  </div>
  <aside class='boardSide x'>
    <div *ngFor='let symbol of numbers'>{{symbol}}</div>
  </aside>
  <footer class='boardEdge x'>
    <div *ngFor='let symbol of letters' class='boardSide'>{{symbol}}</div>
  </footer>
</div>
<div class=''>
  {{this.selected}}
</div>


