<div class='container {{this.game.turn() | aaa: this.game.turn()}}'>
  <header class='boardEdge'>
    <div *ngFor='let letter of letters'>{{letter}}</div>
  </header>
  <aside class='boardSide'>
    <div *ngFor='let number of numbers'>{{number}}</div>
  </aside>
  <div class='board' #board>
    <div *ngFor='let tile of tiles; index as i' class='{{tile.color}} {{oldSelect | selector: i}} {{oldSelect | movable: this.tiles[i].toMove}}' (click)="move(i)">
      <div *ngIf="oldSelect === i" class="invisible {{tile.color}}">
      </div>
      <div *ngIf="tile.toMove === true" class="invisible {{tile.color}}">
      </div>
      <div class="example-box" cdkDrag (cdkDragEnded)="drop($event)" (cdkDragStarted)='drag($event, i)'>
      <img *ngIf='tile.figure' class='images' src='../../../assets/chessFigures/{{tile.figure}}' />
      </div>
    </div>
  </div>
  <aside class='boardSide side'>
    <div *ngFor='let symbol of numbers'>{{symbol}}</div>
  </aside>
  <footer class='boardEdge down'>
    <div *ngFor='let symbol of letters'>{{symbol}}</div>
  </footer>
</div>
<ng-template #winner>
  <a *ngIf="this.game.in_draw()">Draw</a>
  <a *ngIf="this.game.in_check()">Check</a>
  <a *ngIf="this.game.in_checkmate()"> Mate</a>
</ng-template>
<!--<div class=''>-->
<!--Selected:  {{this.selected}}<br>-->
<!--  Width: {{this.innerWidth}}<br>-->
<!--  Height: {{this.innerHeight}}-->
<!--</div>-->

<!--{{board.offsetHeight}}-->

<div style="position:absolute; left: 0; top: 0">
  <button (click)='newGame()'>New Game</button><br>
  Zaznaczenie: {{this.selected}}<br>
  old i: {{this.oldSelect}}
</div>
