:host{
  overflow: scroll;
}
.container{
  min-height: 23vh;
  background: gold;
  margin: 1vh;
  border: white 2px ridge;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 3fr;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
"name rest"
". rest";
  >div{
    background: goldenrod;
    border: ridge 2px goldenrod;
  }
}
.name{
  grid-area: name;
  text-align: center;
}
.rest{
  grid-area: rest;
}
.add {
  margin: 15px auto;
  border: white ridge 1px;
  width: min-content;
  padding: 5px;
  user-select: none;
  cursor: pointer;
  background: gold;
}

.add:hover {
  background: goldenrod;
}
.tile{
  border: solid 1px darkgoldenrod;
  margin: 2px;
  height: max-content;
  padding-bottom: 20px;
}
