:host {
  display: flex;
}
.mat-icon {
  font-size: 25px;
  user-select: none;
  cursor: pointer;
}
.input{
  transform: translateY(-8px);
  height: 20px;
  border: 0;
}
.wraper {
  background: white;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid black;
  height: 24px;
  margin: auto;
}
