:host {
  max-width: 200px;
  display: flex;
}

.mat-icon {
  font-size: 25px;
  user-select: none;
  cursor: pointer;
}

.input {
  transform: translateY(-8px);
  height: 20px;
  border: 0;
}

.wraper {
  background: white;
  border-radius: 50px;
  padding: 5px;
  border: 2px solid black;
  height: 24px;
  margin: 0;
}

.input:hover, .input:focus, text:focus {
  border-radius: 50px;
  border: dodgerblue 1px solid;
}

*:focus {
  outline: none;
}

@media (max-width: 850px) {
:host{
 max-width: 125px;
}
  .wraper{
  width: 100%;
}
  .input{
    width: 60%;
  }
}
