:host {
  height: 100%;
}

.all {
  height: 100%;
  //width: 100vw;
  background: lightgoldenrodyellow;
}

.container {
  width: 1000px;
  margin: auto;

  > div {
    background: palegoldenrod;
    text-align: center;
    padding: 50px 0;
  }

  .ingredients {
    width: 100%;
    display: inline-block;
    text-align: left;
    background: palegoldenrod;
    padding: 0px;
  }

  .hash {
    padding: 0;
    //height: 200px;
    background: palegoldenrod;
  }
}

.divide {
  width: 80%;
  padding: 5%;
  margin: auto;
}
.marg{
  margin-bottom: 100px;
}
.single {
  padding: 5%;
}

.example-list {
  width: 200%;
}

.confirm {
  position: sticky;
  bottom: 0px;
  width: 100%;
  text-align: center;
  float: bottom;
  user-select: none;
  cursor: pointer;
}

.mat-divider {
  background: dodgerblue;
  border-top-width: 3px;
  border-top-style: ridge;
}

.editButton {
  float: right;
  text-align: center;
  font-size: 70%;
  width: 59px;
  height: 59px;
}

.confirm:active {
}

.input, h1 {
  text-align: center;
  border: gold 12px double;
  border-radius: 50px;
  background: dodgerblue;
  color: white;
  height: 50px;
  font-size: 300%;
  width: 80%;
  padding: 20px;
}

.h1 {
  width: 50%;
}

.input:hover {
  border: darkgoldenrod 12px double;
}

h1:hover {
  border: gold 12px double;
}

.header {
  display: inline-block;
}

.block {
  position: fixed;
  bottom: 0;
  border-radius: 50px;
  display: block;
  width: 1000px;
  border: gold 12px double;
  background-color: dodgerblue;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.block:hover {
  border: darkgoldenrod 12px double;
}

.editButton {
  z-index: 0;
  margin-top: -2px;
  justify-self: center;
  border: none;
  background: none;
  margin-right: -2px;
}

.editButton:hover {
  border-radius: 50%;
  background: #0483ff;

}
.noColor:hover{background: none}
.editButton:active {
  //transition-duration: 200ms;
  //transform: rotate(90deg) scale(0.8);
}
.white-icon {
  color: white;
  z-index: -1;
}
