<div class="container">
  <div class="header" *ngIf="edit">
    <h1>Nowy Przepis dodawany !</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="hash">
    <div class="divide">
      <app-chips [removable]="true" [entity]="'Twoje #tagi:'"></app-chips>
    </div>
    <div class="divide">
      <app-chips [removable]="false" [entity]="'Tagi wygenerowane samoczynnie:'"></app-chips>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="name">
    <h1>1</h1>
    <h1>2</h1>
    <div class="editButton" *ngIf="!edit">
      Edytuj przepis
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="ingredients">
    <div class="divide">
      <app-ingredients [edit]="true"></app-ingredients>
    </div>
    <div class="divide">
      <app-steps [edit]="true"></app-steps>
    </div>
  </div>
  <mat-divider></mat-divider>
  <footer class="confirm">
    {{confirmNotifications}}
  </footer>
</div>

