  <div class='all'>
  <div class='container' [formGroup]='model'>
    <div class='name'>
      <input *ngIf='edition$ | async'
             type='text' placeholder='Wpisz Nazwę Potrawy... ' class='input'
             formControlName='name' />
<!--      <textarea *ngIf='edition$ | async'-->
<!--             type='text' placeholder='Wpisz Nazwę Potrawy... ' class='input'-->
<!--                formControlName='name'> </textarea>-->

      <h1 *ngIf='(edition$ | async) === false' class='header'>
        {{(recipe$ | async).name}}
        <div class='editButton noColor' *ngIf='(edition$ | async) === false'>
          <button mat-fab (click)='redirectTo()' class='editButton'>
            <mat-icon  class="white-icon">edit</mat-icon>
          </button>
        </div>
      </h1>
    </div>
    <mat-divider></mat-divider>
    <div class='hash'>
      <!--    <div class="divide">-->
      <!--      <app-chips [removable]="edit" [entity]="'Tag'" [elements]="(dishId | dishTranslator: 'tags') | async "></app-chips>-->
      <!--    </div>-->
      <div class='single'>
        <app-dish-type (typeOfDish)='typeEdition($event)'
        [dishTypes]="(recipe$ | async).dishType"
        ></app-dish-type>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class='ingredients'>
      <div class='divide'>
        <app-ingredients [products]="(recipe$ | async).products"
                         (addUsedProduct)='addUsedProduct($event)'
                         (addedProduct)='addProduct($event)'
        (prodMeasureDeleted)='deleteProdMeasure($event)'></app-ingredients>
      </div>
      <mat-divider></mat-divider>
      <div class='divide marg'>
        <app-steps [steps]="(recipe$ | async).steps"
                   (deletedStep)='deletedStepEmitter($event)'
                   (editStep)='editStepEmitter($event)'
                   (newStep)='newStepEmitter($event)'
                   (reindexStep)='reindexStepEmitter($event)'
        ></app-steps>
      </div>
    </div>
    <footer class='confirm' *ngIf='edition$ | async' (click)='editable()'>
      <button [disabled]='model.invalid' class='block' (click)='endEdition()'>
        Zakończ edycję
      </button>
    </footer>
    <footer class='confirm' *ngIf='(edition$ | async) === false'>
      <button class='block'>
        Gotuj!
      </button>
    </footer>
  </div>
</div>
