<div class="container">
  <div class="header" *ngIf="edit">
    <h1>Nowy Przepis dodawany !</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="hash">Hash component</div>
  <mat-divider></mat-divider>
  <div class="name">
    Tytuł
    <div class="editButton" *ngIf="!edit">
      Edytuj przepis
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="ingredients">
    Potrzebne składniki: TU KOMPONENT ZE SKłADNIKAMi
    <ul>
      <li>kładniki x</li>
      <li>składniki y</li>
      <li>składniki z</li>
      <li>składniki p</li>
      <li>składniki q</li>
    </ul>
  </div>
  <mat-divider></mat-divider>
  <div>krokki komponent</div>
  <mat-divider></mat-divider>
  <footer class="confirm">
    {{confirmNotifications}}
  </footer>
</div>

