<div *ngIf='edition$ | async ' [formGroup]='model'>
  <ng-container *ngFor='let dishId of dishes$ | async'>
  <span class='margin'>
  <mat-checkbox [formControlName]='dishId' class='check'>
        {{dishId | dishType | async}}
  </mat-checkbox>
  </span>
  </ng-container>
</div>
<div *ngIf='(edition$ | async) === false'>
  <ng-container *ngFor='let dish of selectedDishes$ | async'>
    <span class='margin'>{{dish.dishId | dishType | async}}</span>
  </ng-container>
</div>
dishes$ (te dania się wyświetlają)
{{dishes$ | async | json}}
<br>
selectedDishes$ (zaznaczone dania)
{{selectedDishes$ | async | json}}
<br>
dishesType$: (całe info o daniach)
{{dishesType$ | async | json}}
<!--{{validateDishType$ | async | json}}-->
