.margin {
  position: static;
  margin: 5px;
  padding: 20px;
  border: double gold 12px;
  border-radius: 50px;
  background: dodgerblue;
  color: white;
}

@media (max-width: 1000px) {
  .margin {
    width: 50%;
    display: inline-block;
  }
}
.check{
  z-index: -1;
  position: static;
}

