<div *ngIf='edition$ | async' [formGroup]='model'>
  <ng-container *ngFor='let dish of dishesType$ | async'>
  <span class='margin'>
  <mat-checkbox [formControlName]='dish.dishId' class='check'>
        {{dish.dishId | dishType | async}}
  </mat-checkbox>
  </span>
  </ng-container>
</div>
<div *ngIf='(edition$ | async) === false'>
  <ng-container *ngFor='let dish of selectedDishes$ | async'>
    <span class='margin'>{{dish.dishId | dishType | async}}</span>
  </ng-container>
</div>
<!--edycja:-->
<!--{{edition$ | async}}-->
<!--<br>-->
dishes$
{{dishes$ | async | json}}
<!--<br>-->
<!--selectedDishes$-->
<!--{{selectedDishes$ | async | json}}-->
<br>
dishesType$
{{dishesType$ | async | json}}
<!--{{validateDishType$ | async | json}}-->
