:host {
  overflow: hidden;
  align-content: center;
  height: 100vh;
  width: 1000px;
}
.all {
  user-select: none;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: lightgoldenrodyellow;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  //align-content: center;
  //justify-content: center;
  //background: palegoldenrod;
  height: 100%;
  max-width: 1000px;
  margin: auto;
}

.option {
  border-radius: 50px;
  line-height: 600%;
  border: gold 12px double;
  background: dodgerblue;
  //width: Calc(40% - 24px);
  width: 400px;
  max-width: 30vh;
  float: left;
  //margin: 7% 5%;
  text-align: center;
}

.option:hover {
  border: darkgoldenrod 12px double;
}

.option:active {
  transform: scale(0.95);
}
