:host {
  align-content: center;
  height: 100vh;
  width: 1000px;
}
.all {
  height: 100vh;
  width: 100vw;
  background: lightgoldenrodyellow;
}

.container {
  align-content: center;
  justify-content: center;
  background: palegoldenrod;
  height: 80vh;
  width: 1000px;
  margin: 5% auto;
}

.option {
  border-radius: 50px;
  line-height: 600%;
  border: gold 12px double;
  background: dodgerblue;
  width: Calc(40% - 24px);
  float: left;
  margin: 7% 5%;
  text-align: center;
}

.option:hover {
  border: darkgoldenrod 12px double;
}

.option:active {
  transform: scale(0.95);
}
