:host{
  top: 0;
  position: fixed;
  width: 100%;
  user-select: none;
  font-size: 150%
}
.wraper{
  height: 50px;
  width: 100%;
  align-content: center;
  background: dodgerblue;
}
.option{
  margin-top: -12px;
  border: 12px gold double;
  border-radius:  0 0 50px 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: dodgerblue;
  width: calc(20% - 12px);
  //border: 1px gold solid;
  height: 50%;
  float: left;
  margin-right:5px;
}
.option:hover{
  background: cornflowerblue;
}
.option:active{
  background: royalblue;
}
.searchBar{
  margin-top: 5px;
  width: calc(30% - 2px);
  float: right;
}

@media (max-width: 1000px){
  .option{
    width: calc(30% - 4px);
  }
  .searchBar{
    width: calc(35% - 4px);
  }
}

@media (max-width: 610px){
  .option{
    width: calc(30% - 4px);
  }
  .searchBar{
    width: calc(39% - 4px);
  }
}
.logo{
  position: absolute;
  height: 64px;
  top: -20px;
  left: 20px;
}
.marg{
  margin-right: 20px;
float: right;
}
