:host {
  top: 0;
  position: fixed;
  width: 100%;
  user-select: none;
  font-size: 150%;
  z-index: 1;
}

.wraper {
  height: 70px;
  width: 100%;
  align-content: center;
  background: dodgerblue;
}

.option {
  margin-top: -12px;
  border: 12px gold double;
  //border-radius: 0 0 50px 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: dodgerblue;
  width: 206px;
  height: 38px;
  float: left;
  margin-right: 5px;
}

.option:hover {
  //background: cornflowerblue;
  border: goldenrod 12px double;
}

.option:active {
  background: royalblue;
}



.return {
  margin-top: 5px;
  //width: calc(30% - 2px);
  float: right;
  //top: 58px;
  margin-right: 50px;
  //position: absolute;
  cursor: pointer;
  user-select: none;
  //margin-top: 20px;
  //margin-bottom: 20px;
}

.searchBar {
  margin-top: 16px;
  width: 250px;
  float: right;
}

.logo {
  margin-top: -10px;
  height: 58px;
  display: inline-block;
}

@media (max-width: 850px) {
  .option {
    font-size: 80%;
    height: 18px;
    width: 135px;
  }
  .logo {
    margin-top: -10px;
    height: 38px;
    display: inline-block;
  }
  .wraper {
    height: 50px;
  }
  .searchBar {
    margin-top: 5px;
  }
  .return{
    margin-top: -5px;
  }
}

@media (max-width: 665px) {
  .option {
    height: 20px;
    width: 142px;
    font-size: 75%;
  }
  .logo {
    margin-top: -10px;
    height: 40px;
    display: inline-block;
  }
  .wraper {
    height: 52px;
  }
  .searchBar {
    margin-top: 0;
  }
}


.marg {
  margin-right: 20px;
  float: right;
}



.icoUndo {
  font-size: 64px;
  color: white;
}

.icoUndo:hover {
  color: goldenrod;
}
