<div class='wraper'>
<div class='option' (click)='redirect()'>
  <img src='../../../../../assets/cookBook/logo1.svg' class='logo'/>
  <img src='../../../../../assets/cookBook/logo2.svg' class='logo'/>
  <img src='../../../../../assets/cookBook/logo3.svg' class='logo'/>
  <span class='marg'>
  </span>
</div>
  <div (click)='redirectTo()' class='option'>Dodaj przepis</div>
  <div class='return'>
<!--    <mat-icon class='icoUndo' (click)='goBack()'>undo</mat-icon>-->
    <mat-icon class='icoUndo' (click)='backClicked()'>undo</mat-icon>
  </div>
  <div class='searchBar'>
    <app-search-bar class='x'></app-search-bar>
  </div>

  <a>Edycja w trakcie: {{edition$ | async}}</a><br>
  <a>Różnica od orginału: {{editionInProgress$ | async}}</a><br>
</div>
