<div class='container'>
  <div>
    <table>
      <ng-container>
        <tr *ngFor='let form of forms.controls; index as i'>
          <td [formGroup]='$any(forms.controls[i])'>
            <input class='input' formControlName='name' />
          </td>
        </tr>
      </ng-container>
    </table>
    <button (click)='addForm()'>Dodaj</button>
  </div>
  <div>
    <table>
      <ng-container>
        <tr *ngFor='let form of forms.controls; index as i'>
          <td [formGroup]='$any(forms.controls[i])'>
        <pre>
        {{ forms.value[i].name | json }}
        </pre>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>

