<div class='container'>
  <div>
    <table>
      <ng-container>
        <tr *ngFor='let form of forms.controls; index as i'>
          <td [formGroup]='forms.controls[i]'>
            <input formControlName='name' />
          </td>
          <td><app-formule-input [days]='_days[i]'
          (dataSync)='dataBackup($event, i)'></app-formule-input></td>
        </tr>
      </ng-container>
    </table>
    <button (click)='addForm()'>Dodaj plan</button>
  </div>
  <div>
    <pre>{{forms.value | json}}</pre>
  </div>
</div>

