:host{
  height: 100vw;
}
.add {
  border: white ridge 10px;
  width: min-content;
  padding: 0 10px;
  margin: 50px auto 100px auto;
  user-select: none;
  cursor: pointer;
  background: gold;
}

.add:hover {
  background: goldenrod;
}
.tile{
}
.container{
  height: 100vh;
  overflow-y: scroll;
}
