:host{
  height: 100vw;
}
.add {
  border: white ridge 10px;
  width: min-content;
  padding: 0 10px;
  margin: 50px auto 100px auto;
  user-select: none;
  cursor: pointer;
  background: gold;
}

.add:hover {
  background: goldenrod;
}
.container{
  height: 100vh;
  overflow-y: scroll;
}
.tile{
  display: grid;
  place-items: stretch;
  min-height: 100px;
  background: red;
  width: available;
  grid-template-columns: 1fr 4fr;
  column-gap: 10px;
  grid-template-areas:
"name app";
  >div{
    background: indianred;
  }
}
.editionPanel{
  background: rebeccapurple;
  margin: 1vh;
  grid-area: name;
}
.app{
  background: darkred;
  grid-area: app;
}
