<div class='container'>
  <div>
    <table>
      <ng-container>
        <tr *ngFor='let form of forms.controls; index as i'>
          <td [formGroup]='forms.controls[i]'>
              <input formControlName='dish' />
<!--              <mat-label>Wybierz danie</mat-label>-->
<!--              <select matNativeControl>-->
<!--                <option value="-" selected></option>-->
<!--                <option value="one">Kompocik</option>-->
<!--                <option value="two" disabled>Surówka</option>-->
<!--                <option value="third">Ziemniaki</option>-->
<!--                <option value="fourth">Schab</option>-->
<!--              </select>-->
          </td>
        </tr>
      </ng-container>
    </table>
    <button (click)='addForm()'>Dodaj Danie</button>
  </div>
